ENV=DEV
LOGLEVEL=INFO
SHIFT_LV95_ORIGIN=True
AUTHOR_NAME="Jonh Doe"
AUTHOR_EMAIL="john.doe@corp.com"
ORGANIZATION_NAME="Corp"
ORGANIZATION_EMAIL="contact@corp.com"
AUTHORIZATION_NAME="Authorizer"
HOST_DATA_DIRECTORY="./tests/data"
IFC_SCHEMA_IDENTIFIER="IFC4X3_ADD2"
# This name MUST be one of the existing GeoJSON properties.
# It will be used as the main name of the IFC objects:
OBJECT_NAME="NIS_Nummer"
TRACE_FILENAME="pipe_lv95.geojson"
DOWNLOAD_TILE=True
CUSTOM_MESH=True
